[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
flask-migrate = "*"
marshmallow = "*"
flask-restplus = "*"
pyjwt = "*"
flask-excel = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pep8" = "*"
pydocstyle = "*"

[requires]
python_version = "3.7"
